#leftContainer {
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: row;
}

#infoContainer {
    width: 70%;
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

#tempContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
    font-size: 84px;
    height: 100%;
    width: 30%;
}

#dateContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 30%;
}

#conditionContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    height: 100%;
    width: 30%;
}

#name {
    font-size: xx-large;
    font-weight: 600;
    margin-bottom: 0px;
    max-height: 100%;
    font-size: 26px;
    font-weight: 600;
}

#date {
    margin-top: 0px;
    height: 25%;
    font-size: 24px;
    font-weight: 600;
}

#icon {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#iconImg {
    max-height: 48px;
    max-width: 48px;
}

#conditionText {
    height: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    font-weight: 600;
}

@media screen and (max-width: 1385px) {
    #conditionText {
        font-size: 20px;
    }
}

@media screen and (max-width: 1062px) {
    #infoContainer {
        width: 100%;
    }
}

@media screen and (max-width: 750px) {
    #conditionText,
    #date,
    #name {
        font-size: 16px;
    }
    #tempContainer {
        font-size: 48px;
    }
}