#searchBar {
    height: 50%;
    width: 100%;
    background-color: #3c4c4ae3;
    position: relative;
}

#form {
    width: 100%;
    height: 30%;
    position: relative;
}

#label {
    position: absolute;
    width: 65%;
    margin-top: 30px;
    margin-left: 10%;
    height: 55%;
}

.bar {
    border: 1px solid grey;
    width: 75%;
    position: absolute;
    top: 100%;
    left: 45%;
    transform: translate(-50%, -50%);
}

#formInput {
    background: none;
    color: white;
    border: none;
    padding: 0;
    font: inherit;
    cursor: text;
    outline: inherit;
    font-size: 20px;
    width: 60%;
}

#submitBtn {
    position: absolute;
    right: 0;
    top: 0;
    height: 80px;
    width: 80px;
    background: #829F9A;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
}

#formSuggestContainer {
    height: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10%;
}

.formSuggest {
    height: 15%;
}

.inputSuggest {
    display: none;
}

.btnSuggest {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    color: rgb(53, 48, 48);
}