#rightContainer {
    width: 40%;
    height: 100%;
}

#searchBar {
    height: 50%;
    width: 100%;
    background-color: blueviolet;
}

#weatherInformation {
    height: 50%;
    width: 100%;
    background-color: rgba(69, 74, 105, 0.479);
    overflow: hidden;
}

#weatherDetailTitle {
    overflow: hidden;
    height: 25%;
    font-size: 14px;
    color: white;
    display: flex;
    margin-left: 10%;
}

#weatherDetailContainer {
    height: 75%;
    margin-top: -3%;
}

.weatherDetails {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    max-height: 15%;
    font-size: 14px;
    font-weight: 600;
    margin-left: 10%;
    margin-right: 10%;
}

.weatherDetailsName {
    color: rgb(53, 48, 48);
}

.weatherDetailsValue {
    color: white;
}